body {
  font-family: Arial, sans-serif;
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
